@import "settings";

.dashboard {
	width: 90%;
	margin: auto;
}

.user-info {
	background-color: $primary;
}

.user-lists {
	background-color: $primary;
}

.MuiTableCell-root {
	text-align: center;
	// max-width: 200px;
}
