body {
	line-height: 1.5;
}

.form-container {
	margin: auto;
	max-width: 400px;
	text-align: center;

	.form-box {
		padding: 30px;
		border: 3px solid black;
		border-radius: 10px;
		display: flex;
		flex-direction: column;

		// box-shadow: 9px 11px 27px 3px rgba(0, 0, 0, 0.22);
		// -webkit-box-shadow: 9px 11px 27px 3px rgba(0, 0, 0, 0.22);
		// -moz-box-shadow: 9px 11px 27px 3px rgba(0, 0, 0, 0.22);

		h2 {
			margin-bottom: 30px;
		}

		.MuiFormControl-root {
			margin: 0 auto 20px auto;
			width: 90%;
		}

		.MuiButtonBase-root {
			width: 200px;
			border-radius: 15px;
			margin: 25px auto 10px auto;
			color: white;
		}
	}
}
