@import "settings";

.table-wrapper {
	display: flex;
	border: solid 3px $secondary;
	border-radius: 10px;

	.user-lists {
		margin-bottom: 10px;
		background-color: $accent;
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
	}
	.purchase-history {
		border-bottom-left-radius: 7px;
		border-bottom-right-radius: 7px;
	}
}
.item-table {
	max-width: 90%;
	margin: auto;
	border: solid 3px $secondary;
	border-radius: 10px;
	text-align: center;
}

.MuiTableRow-root {
	display: flex;
	justify-content: space-around;
	.MuiTableCell-root {
		padding-left: 0;
		padding-right: 0;
		text-align: center;
		width: 150px;
	}
	.desc-col {
		width: 200px;
	}
}

.MuiTableHead-root {
	.MuiTableRow-root {
		background-color: $primary;
	}
}
