@import "settings";

.shopping-cart {
	display: flex;
	flex-direction: column;
	align-items: center;

	.checkout {
		margin-bottom: 25px;
		background-color: $primary;
		color: $secondary;
		border: 2px $secondary solid;
	}
}
.empty-cell {
	width: 100%;
	text-align: center;
}
